<nav  class="navbar navbar-expand-lg  navbar-dark bg-dark ">
    <a class="navbar-brand" href="#"><img src="pic.jpg" style="background: white;" width="60" height="50"
          class="d-inline-block align-top" alt="logo">pixogram </a>
  <button  class="navbar-toggler" type="button" data-toggle="collapse"  data-target="#navbarSupportedContent"aria-controls="           navbarSupportedContent" aria-expanded="false" aria-label="          Toggle navigation">
           <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav m-auto navbar-dark bg-dark" >
          <a class="nav-item nav-link m-auto" href="#">Upload Media</a>
          <a class="nav-item nav-link m-auto" href="#">My Media</a>
          <a class="nav-item nav-link m-auto" href="#">Followers/Following</a>
      </div>
             <div class="col-3 d-flex flex-column" >
               <a href="#"class="badge badge-primary bd-highlight p-2 m-auto" >Account
               </a>            
              </div>
      </div>
  </div> 
  
  </nav>
  
